.listaProductos {
    white-space: pre-line;
    list-style-type: none;
}
.listaProductos{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    margin-bottom: 10px;
    justify-content: center;
}
.botonEliminar{
    margin-left: auto;
}
.card-img-top{
    height: 250px;
    object-fit: contain;
}